.background {
  &__male {
    background: $blue;
  }

  &__female {
    background: $red;
  }
}

.background__change {
  &__white {
    background: $white;
    .book {
      color: $black-2;
      &__chapter, &__content {
        color: $black-2;
      }
    }
  }
  &__black {
    .main {
      p{
        color: $white;
      }
      img {
        filter: invert(100%);
      }
    }
    background: $black;
    p {
      color: $white;
    }
    
    img {
      filter: invert(1);
    }

    .book {
      color: $white;
      &__chapter, &__content {
        color: $white;
      }
    }
  }
  

  &__green {
    background: $green-2;
    .book {
      color: $black;
      &__chapter, &__content {
        color: $black;
      }
    }
  }

  &__yellow {
    background: $yellow;
    .book {
      color: $black;
      &__chapter, &__content {
        color: $black;
      }
    }
  }
}