.button {
  border-radius: 8px;
  outline: 0;
  border: 0;
  padding: 0;
  color: $white;
  min-width: 100px;
  font-size: $titleSize;
  width: 305px;
  height: 68px;
  cursor: pointer;

  &__primary {
    background: $normalColor;
  }

  &__secondary {
    background: $rejectColor;
    // background: black;
  }

  &__alert {
    background: $alertColor;
  }

  &__default {
    background: $white;
    color: $gray-3;
  }

  &__callToAction {
    background: $callToActionColor;
  }

  &__default2 {
    background: $white;
    color: $gray-4;
  }

  &__space {
    width: 100px;
    height: 42px;
    font-size: $contentSize;
    margin: 0 17.5px;
  }
}