// color set
$white: #ffffff;
$blue: #a3ceff;
$red: #ff9292;
$gray-1: #8f8f8f;
$gray-2: #807f7f;
$gray-3: #9b9b9b;
$gray-4:#cdcbcb;
$black-1: #4a4a4a;
$green: #9efda3;

// $primaryColor: 
$alertColor: $red;
$normalColor: $blue;
$rejectColor: $gray-1;
$callToActionColor: $green;
$placeholderColor:$gray-4;

// font
$contentSize: 18px;
$titleSize: 24px;