// color set
$white: #ffffff;
$white-2: #f4f4f4;
$blue: #a3ceff;
$red: #ff9292;
$yellow: #fbf0da;
$lightGray: #d0d0d0;
$lightGray-2: #efefef;
$gray-1: #8f8f8f;
$gray-2: #807f7f;
$gray-3: #9b9b9b;
$black: #000;
$black-1: #4a4a4a;
$black-2: #595959;
$green: #9efda3;
$green-2: #c5e7ce;

// $primaryColor: 
$alertColor: $red;
$normalColor: $blue;
$rejectColor: $gray-1;
$callToActionColor: $green;

// font
$indexSize: 16px;
$contentSize: 18px;
$titleSize: 24px;
$headlineSize: 48px;