@import './font';

.lightBox {
  position: relative;
  // TODO 以下樣式在串狀態時使用（移除註解）
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(234, 234, 234, 0.7);
  }

  &__bubble {
    position: relative;
    background: $white;
    min-width: 496px;
    padding: 55px 48px 20px;
    border-radius: 18px;
    text-align: center;
  }

  &__titleLarge {
    font-size: $headlineSize;
    margin-bottom: 31px;
  }

  &__titleMiddle {
    font-size: $titleSize;
    color: $black-1;
    margin-bottom: 62px;
  }

  p {
    text-align: left;
    color: $black-1;
    font-size: 19px;
    line-height: 1.75em;
    font-weight: 300;
  }

  &__subtitle {
    padding-left: 10px;
    margin-bottom: 25px;
  }

  &__taskDescription {
    margin-bottom: 97px;
  }
  .button {
    margin: auto;
  }
}

// 完成任務
.missionCompleted {
  .lightBox{
    &__content {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
    }

    &__subtitle {
      text-align: center;

      span + span {
        margin-left: 1.25em;
      }
    }
  }
}

// 泡泡視窗裡的按鈕們的設定
.taskName, .missionCompleted, .deleteRecord, .deleteRecordConfirm {
  .button {
    min-width: 305px;
  }
}

.leaveMission {
  .button {
    min-width: 160px;
  }
}

// 刷新紀錄
.deleteRecord {
  .lightBox {
    &__background {
      background: $alertColor;
    }

    &__bubble {
      padding-top: 161px;
      padding-bottom: 46px;
    }

    &__subtitle {
      text-align: center;

      span + span {
        margin-left: 1.5em;
      }
    }
  }
}

// 離開重新測試 確認
.deleteRecordConfirm {
  .lightBox {
    &__bubble {
      padding-top: 177px;
      padding-bottom: 25px;
    }
    &__titleLarge {
      margin-bottom: 97px;
    }
  }
}

// 離開任務
.leaveMission {
  .lightBox {
    &__bubble {
      padding-top: 177px;
      padding-bottom: 25px;
    }
    &__titleLarge {
      margin-bottom: 164px;
    }
  }
}

